node_modules
serviceAccountKey*.json
build/
dist/
.env*

# Logs
*.log

# Local Netlify folder
.netlify

# Firebase
.firebaserc
seed/

backups/
external/decent/shots

tmp/

.DS_Store

# temporary while rebuilding the whole app
srcOld/

# firebase
firebase-debug.log*
firestore-debug.log*
ui-debug.log*