node_modules
serviceAccountKey*.json
build/
dist/
.output/
.env
.env.local
.env.*.local
.env.netlify
!.env.example
!.env.*.example
tailwind-plus

# Logs
*.log
migration-log.json

# Local Netlify folder
.netlify

# Firebase
.firebaserc

backups/
external/decent/shots

tmp/

.DS_Store

# temporary while rebuilding the whole app
srcOld/
VIBE_*.md

# firebase
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
firestore*log.json

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
