@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Global styles

FIXME check this is needed

Replacing a horrible emotion/twin.macro nonsense:

const customStyles = css({
  html: {
    ..."h-full bg-gray-50",
  },
  body: {
    WebkitTapHighlightColor: theme`colors.transparent`,
    ..."h-full antialiased",
  },
});

export const GlobalStyles: React.FC = () => (
  <>
    <BaseStyles /> was this ever really needed?
    <Global styles={customStyles} />
  </>
);

*/

html {
  @apply h-full bg-gray-50;
}

body {
  @apply h-full antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* Styling for react-datepicker taken from https://github.com/msnegurski/tailwind-react-datepicker */

.react-datepicker__aria-live {
  @apply sr-only;
}

.react-datepicker__input-container input {
  @apply block w-full text-base sm:text-sm bg-white border border-gray-300 rounded-md shadow-sm form-input focus:ring-orange-500 focus:border-orange-500;
}

.react-datepicker-popper {
  @apply z-40 w-72 text-sm bg-white shadow px-3 py-2 border border-gray-200 rounded;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded;
}

.react-datepicker__month-container {
  @apply flex flex-col;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray-500 font-medium text-center text-xs;
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-900 rounded-full;
}

.react-datepicker__day:hover {
  @apply bg-gray-200 cursor-pointer;
}

.react-datepicker__day--today {
  @apply font-semibold text-orange-600;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed text-gray-300 hover:bg-transparent !important;
}

.react-datepicker__day--outside-month {
  @apply text-gray-400;
}

.react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-orange-200;
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-orange-500;
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-orange-500;
}

.react-datepicker__day--selected {
  @apply bg-orange-500 text-white font-semibold !important;
}

.react-datepicker__day--range-start {
  @apply bg-orange-500 text-white hover:text-gray-700 hover:bg-white;
}

.react-datepicker__day--range-end {
  @apply bg-orange-500 text-white hover:text-gray-700 hover:bg-white;
}

.react-datepicker__month {
  @apply flex flex-col gap-2;
}

.react-datepicker__month-wrapper {
  @apply flex gap-8 items-center justify-center;
}

.react-datepicker__month-text {
  @apply w-full h-full py-1  text-sm leading-loose transition text-gray-900 rounded-md text-center;
}

.react-datepicker__month-text:hover {
  @apply bg-gray-200 cursor-pointer;
}

.react-datepicker__month-text--today {
  @apply font-semibold text-orange-600;
}

.react-datepicker__month--selected {
  @apply bg-orange-500 text-white font-semibold !important;
}

.react-datepicker__month--disabled {
  @apply cursor-not-allowed text-gray-300 hover:bg-transparent !important;
}
